name: Sync to Hugging Face Hub
on:
  push:
    branches: [main]

  # to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Pull latest changes from hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: git pull --rebase https://KunalShaw:$HF_TOKEN@huggingface.co/spaces/KunalShaw/IMSKOS main
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        # REPLACE THE URL BELOW WITH YOUR SPACE URL
        run: git push https://KunalShaw:$HF_TOKEN@huggingface.co/spaces/KunalShaw/IMSKOS main
